# Config Files
/init/concrescent-reg.sql
/concrescent.php
/msmtprc
/.env
/vendor

# Data directories
/var

#CM3 logs directory
logs/

# Concrescent 3 files
cm3/backend/logs
cm3/frontend/.yarn
cm3/backend/.php-cs-fixer.cache
