# Local data
/init/concrescent-reg.sql

# Config
/config/concrescent.php
/concrescent.php
/config/msmtprc
/msmtprc
/.env
/.env.local
/.env.prod.local
/.env.dev.local
/docker-compose.local.yaml

# Transient data
/var

# Vendors
/vendor
/node_modules

# Developement cache
/.phpunit.cache

# Build files
/target
