</head>
<body class="cm-admin">
<header>
  <div class="appname">CONcrescent</div>
  <div class="pagename">{{ title|e }}</div>
  <div class="header-items">
    <div class="header-item">
      {{ adminUsername|e }}
    </div>
  </div>
</header>
