{% extends "layouts/login.twig" %}
{% set page_id = 'logout' %}
{% set title = 'Log Out' %}

{% block body %}
  <header>
    <div class="appname">CONcrescent</div>
    <div class="header-items">
      <div class="header-item">
        <a href="/admin/login.php">Log In</a>
      </div>
    </div>
  </header>

  <article>
    <div class="card cm-logout">
      <div class="card-content">
        <p>You have been logged out.</p>
      </div>
    </div>
  </article>
{% endblock %}
