{% extends "layouts/admin.twig" %}

{% set title = 'Unauthorized' %}

{% block body %}
<article>
  <div class="card cm-unauthorized">
    <div class="card-content">
      <p>You do not have permission to view this page.</p>
    </div>
  </div>
</article>
{% endblock %}
